<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header1">
  <nav>
    <div class="nav_logo_div">
      <a th:href="@{/}"><img class="nav_logo_img" th:src="@{/images/interface/logo.png}" title="Главная"></a>
    </div>

    <div class="nav_menu_div">
      <a class="nav_menu_button" th:href="@{/menu(menuSection='pizza')}">Пицца</a>
      <a class="nav_menu_button" th:href="@{/menu(menuSection='wok')}">Вок</a>
      <a class="nav_menu_button" th:href="@{/menu(menuSection='roll')}">Ролл</a>
<!--      <a class="nav_menu_button" th:href="@{/#}">Профиль</a>-->
    </div>

    <div class="nav_basket_div">
      <a id="a1" th:href="@{/cart}"><img class="nav_basket_img" th:src="@{/images/interface/cart.png}" title="Корзина"></a>
    </div>
  </nav>
</th:block>