<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pizza Wok</title>
    <link th:href="@{styles/style.css}" rel='stylesheet' type='text/css'></link>
</head>
<body>
<div class="wrapper">
    <div class="header_and_main_div">
        <header>
            <nav>
                <div class="nav_logo_div">
                    <a th:href="@{/#}"><img class="nav_logo_img" th:src="@{/images/interface/logo.png}" title="Главная"></a>
                </div>

                <div class="nav_menu_div">
                    <a class="nav_menu_button" th:href="@{/#}">Пицца</a>
                    <a class="nav_menu_button" th:href="@{/#}">Вок</a>
                    <a class="nav_menu_button" th:href="@{/#}">Ролл</a>
                    <a class="nav_menu_button" th:href="@{/#}">Профиль</a>
                </div>

                <div class="nav_basket_div">
                    <!-- <a href='#'>Корзина</a> -->
                    <a id="a1" th:href="@{/#}"><img class="nav_basket_img" th:src="@{images/interface/basket.png}" title="Корзина"></a>

                </div>
            </nav>
        </header>

        <main>
            <h2>Контент</h2>

        </main>

    </div>

    <footer>
        <p>&#169; Авторские права никому не принадлежат. Сайт является демонстрацией невероятных способностей некоего Габиева Г.М. в создании веб-приложений. Все названия вымышлены, совпадения случайны.</p>
    </footer>

</div>

</body>
</html>