<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Wok</title>
    <link th:href="@{/styles/style.css}" rel='stylesheet' type='text/css'>
    <script th:src="@{/scripts/menu.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="header_and_main_div">

        <header th:insert="~{fragments/header :: header1}"></header>

        <main>
            <div class="main_content">
                <h1>Информация о заказе</h1>
            </div>
        </main>

    </div>

    <footer th:insert="~{fragments/footer :: footer1}"></footer>

</div>

</body>
</html>