* {
    margin: 0;
    padding: 0;
    font-family: 'Palatino Linotype';
}

div, img, a {
    /* border: 1px dashed black; */
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #fff3eb;
    background-image: url(../images/interface/background.png);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1000px;
    margin: 0 auto;

    border: 2px solid black;
    /* border-left: 2px solid black; */
    box-shadow: 9px 0px 9px #c7c7c7;
    background-color: white;
}

.header_and_main_div {
    flex: 1 0 auto;
}

header {
    display: flex;
    height: 100px;
    border-bottom: 2px dashed;
}

main {
    display: flex;
}

footer {
    flex: 0 0 auto;
    border-top: 2px dashed black;
    padding: 10px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav_logo_div{
    display: flex;
    width: 200px;
    align-items: center;
    box-sizing: border-box;
}

.nav_logo_img {
    max-width: 100%;
}

.nav_basket_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
}

.nav_basket_img {
    display: block;
    max-width: 100%;
}

.nav_menu_div {
    display: flex;
    align-items: center;
}

.nav_menu_button {
    box-sizing: border-box;
    height: 100%;
    width: 100px;
    padding-top: 37px;
    text-align: center;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
}

.nav_menu_button:hover {
    background-color: #dfdfdf;
    text-decoration: underline;
}

.dish_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.dish_card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    margin-top: 10px;
    overflow: hidden;
}

.dish_card_main_block {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.dish_img {
    width: 300px;
    height: 300px;
}

.dish_name {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px;
}

.dish_description {
    font-size: 0.9em;
    color: #8b8b8b;
    margin: 0px 10px;
}

.dish_card_footer_block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 0 0 auto;
    padding: 10px;
}

.dish_card_price {
    display: inline-block;
    font-size: 1.5em;
    margin: auto 0;
}

.dish_card_buttons_block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.dish_plus_button_long {
    font-size: 1.5em;
    border: 2px solid red;
    border-radius: 25px;
    background-color: white;
    color: red;
    padding: 5px 10px;
}

.dish_minus_button_short, .dish_plus_button_short {
    font-size: 1.5em;
    border: 2px solid red;
    border-radius: 25px;
    background-color: white;
    color: red;
    padding: 5px 10px;
    width: 50px;
}

.dish_plus_button_long:hover,
.dish_minus_button_short:hover,
.dish_plus_button_short:hover {
    background-color: red;
    color: white;
}

.dish_card_count {
    font-size: 1.5em;
    margin: auto 0;
    padding: 0 10px;
    font-weight: bold;
}

.main_content {
    width: 100%;
    padding: 20px;
}

.main_h1 {
    width: 100%;
    text-align: center;
}

.main_h2 {
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin-top: 15px;
}

.main_h3 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 30px;
}

.main_menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 365px;
}

.main_menu_button {
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    text-decoration: none;
}

.main_menu_button:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 9px black;
}

.main_menu_button_img {
    width: 300px;
    height: 300px;
}

.main_menu_button_description {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.additional_info {
    padding: 30px 10px;
}

.additional_info_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 50px;
}

.additional_info_img {
    width: 100px;
    height: 100px;
}

.additional_info_description {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    text-align: left;
    width: 700px;
    font-size: 1.3em;
}

@font-face {
    font-family: "Palatino Linotype"; 
    src: url("../fonts/PalatinoLinotype.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

